<h2>Found {{connections|length}} Connections</h2>
<table>
    <tr><th>Subject</th><th>Connection</th><th>Target</th></tr>
    {% for connection in connections %}
    <tr>
        <form>
            <td><a href="/connections-to-node/{{connection.subject.id}}">{{ connection.subject.name }}</a></td>
            <td><a href="/connections/?name_like={{connection.name|replace(' ','+')}}">{{ connection.name }}</a></td>
            <td><a href="/connections-to-node/{{connection.target.id}}">{{ connection.target.name }}</a></td>
            <td>
                <input type="hidden" name="name_like", value="{{name}}">
                <button type="submit" formmethod="get" formaction="/delete-connection/{{connection.id}}">Delete</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
