<h2>Found {{connections|length}} Connections</h2>
<form>
    <table>
    <tr>
        <th></th><th>Subject</th><th>Connection</th><th>Target</th><th></th>
    </tr>
    {% for connection in connections %}
        <tr>
            <td><input type="checkbox" id="connection_id_{{connection.id}}" name="conn_id" value="{{connection.id}}"></td>
            <td><a href="/connections-to-node/{{connection.subject.id}}">{{ connection.subject.name }}</a></td>
            <td><a href="/connections/?name_like={{connection.name|replace(' ','+')}}">{{ connection.name }}</a></td>
            <td><a href="/connections-to-node/{{connection.target.id}}">{{ connection.target.name }}</a></td>
            <td><button type="submit" formmethod="get" formaction="/edit-connection/{{connection.id}}">Edit</button></td>

        </tr>
    {% endfor %}
    </table>
    <input type="hidden" name="name_like", value="{{name_like}}">
    <button type="submit" formmethod="post" formaction="/delete-connections/">Delete Selected</button>

</form>
