<h2>Found {{connections|length}} Connections</h2>
<table>
    <tr><th>Subject</th><th>Connection</th><th>Target</th></tr>
    {% for connection in connections %}
    <tr>
        <td><a href="/connections-to-node/{{connection.subject.id}}">{{ connection.subject.name }}</a></td>
        <td><a href="/connections/?name_like={{connection.name|replace(' ','+')}}">{{ connection.name }}</a></td>
        <td><a href="/connections-to-node/{{connection.target.id}}">{{ connection.target.name }}</a></td>
    </tr>
    {% endfor %}
</table>
